<footer class="site-footer">

  <div class="wrapper">

    <h2 class="footer-heading">{{ site.title }}</h2>

    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <ul class="contact-list">
          <li>{{ site.title }}</li>
          <li><a href="mailto:{{ site.email }}">{{ site.email }}</a></li>
        </ul>
      </div>

      <div class="footer-col footer-col-2">
        <ul class="social-media-list">
          {% if site.github %}
          <li>
            {% include icon-github.html username=site.github %}
          </li>
          {% endif %}

          {% if site.facebook %}
          <li>
            {% include icon-facebook.html username=site.facebook %}
          </li>
          {% endif %}

          {% if site.codepen %}
          <li>
            {% include icon-codepen.html username=site.codepen %}
          </li>
          {% endif %}
        </ul>
      </div>

      <div class="footer-col footer-col-3">
        <p>{{ site.description }}</p>
      </div>
    </div>

  </div>

</footer>
